
@import url('https://rhizome.global.ssl.fastly.net/static/css/style.css');

.post {
	color:blue;
	font-weight:bolder;
}

p {
	color:green;
}

body {
background: rgba(252,236,252,1);
background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 39%, rgba(251,166,225,1) 73%, rgba(255,124,216,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(39%, rgba(253,137,215,1)), color-stop(73%, rgba(251,166,225,1)), color-stop(100%, rgba(255,124,216,1)));
background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 39%, rgba(251,166,225,1) 73%, rgba(255,124,216,1) 100%);
background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 39%, rgba(251,166,225,1) 73%, rgba(255,124,216,1) 100%);
background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 39%, rgba(251,166,225,1) 73%, rgba(255,124,216,1) 100%);
background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 39%, rgba(251,166,225,1) 73%, rgba(255,124,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}

.masthead,
.post {
	border:none !important;
}

.masthead {
	margin-bottom:-50px;
}

.wrap {
    margin:auto;
    width:40%;
}