@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	font-family:'Noto Serif', serif;
  	background:#eee;
	}

.sidebar-toggle {
	display:none;
	}

.masthead-title {
	/* main-title */
	/* background:white; */ 
	padding:5px;
	font-weight:bolder;
	font-size:250%;
	text-align:center;
	}

.masthead-title small {
	display:block;
	font-size:50%;
	}

.page-title, .post-title, .post-title a {
    font-weight:bold;
    color:#268bd2 !important;
	}

.post-title a {
	background:white;
	text-decoration:underline;
	}

p a {
	color:#515151;
	border-bottom:1px dotted;
	}

.related {
	display:none;
	}

.container .post {
	/* border-top:1px dashed #999;
	padding-top:80px; */
	margin:0;
	}

.post .post-date {
	font-size:60%;
	}

.container .post * {
	display:none;
	}

.container .post h1,
.container .post h1 a {
	display:inline-block;
	}


.post img {
	width:100%;
	}


