@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	font-family:'Noto Serif', serif;
  	background:#eee;
	}

.masthead-title {
	/* main-title */
	background:white;
	padding:5px;
	}

.page-title, .post-title, .post-title a {
    font-weight:bold;
	}